<h2>Angular built-in directives</h2>

<h3>ngIf</h3>
<button (click)="displayText()">ngIf</button>

<p *ngIf="text">Angular offers no built-in alternative for ng-show. So to change the CSS visibility of an element, we have to look into either the ngStyle or the class directives, described later in this chapter.</p>
<h3>ngSwitch</h3>
<button (click)="changeOption('A')">Option A</button>
<button (click)="changeOption('B')">Option B</button>
<button (click)="changeOption('C')">Option C</button>
<button (click)="changeOption('D')">Other Option</button>

<div [ngSwitch]="option">
  <p *ngSwitchCase="'A'">Option A</p>
  <p *ngSwitchCase="'B'">Option B</p>
  <p *ngSwitchCase="'C'">Option C</p>
  <p *ngSwitchDefault>Other option</p>
</div>

<h3>NgStyle</h3>
<p>The simplest way to use this directive is</p>
<div [style.background]="'yellow'">Yellow background</div>
<p>you can use it with key value pairs</p>
<div [ngStyle]="{color: 'white', 'background-color': 'blue'}">Uses fixed white text on blue background</div>
<!-- 
Notice that in the ng-style specification we have single quotes around background-color but not around color. Why is that? Well, the argument to ng-style is a JavaScript object and color is a valid key, without quotes. With background-color, however, the dash character isn’t allowed in an object key, unless it’s a string so we have to quote it. -->

<hr>
<div class="ui input">
  <label [style.margin-right]="'5px'">Color</label>
  <input type="text" name="color" value="{{color}}" #colorinput>
  <label [style.margin-left]="'20px'">Font Size </label>
  <input type="text" name="fontSize" value="{{fontSize}}" #fontinput>
</div>
<button class="ui primary button" (click)="apply(colorinput.value, fontinput.value)">
  Apply Settings
</button>

<div>
  <span [style.color]="color" [style.font-size.px]="fontSize">
    test
    </span>
  </div>
 
<h2>NgFor</h2>
<!-- {{peopleByCity | json}} -->

<h4>List of objects</h4>

<div *ngFor="let item of peopleByCity; let num = index">
  <h2> {{num+1}}.- {{ item.city }}</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      </tr>
  </thead>
  <tr *ngFor="let p of item.people">
    <td>{{ p.name}}</td>
    <td>{{ p.age}}</td>
  </tr>
</table>
</div>
